<template>
    <div>
        <nav class="navbar navbar-light" style="background-color: #e3f2fd;">
            <div class="container-fluid"><h1>Checkout</h1></div>
        </nav>
        <div class="container my-5">
            <div class="card">
                <div class="card-body">
                    <table class="table table-bordered" v-if="cart.length">
                        <caption class="text-right h3 mt-3">
                            <b>Total:</b> <price class="text-success font-weight-light" :value="Number(cartTotal)"></price>
                        </caption>
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Barang</th>
                                <th>Jumlah</th>
                                <th>Harga</th>
                                <th>Sub Total</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="item in cart" :key="item.product.id">
                                <td>{{ item.product.id }}</td>
                                <td>{{ item.product.name }}</td>
                                <td>{{ item.qty }}</td>
                                <td>{{ Number(item.product.price) | currencyFormat }}</td>
                                <td>
                                    {{ Number(item.product.price * item.qty) | currencyFormat }}
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

        <router-link class="btn btn-outline-primary mt-3" to="/">Back To Shop</router-link>
        </div>
    </div>
</template>

<script>
import Price from "./Price.vue"

export default {
    name: "checkout",
    props: ["cart", "cartTotal"],
    components: {
        Price
    },
    filters: {
        currencyFormat: function (value) {
            return 'Rp' + Number.parseFloat(value) * 1000;
        }
    }
}
</script>