<template>
    <!-- <nav class="navbar navbar-light">
        <div class="navbar-text ms-auto d-flex">
            <div class="me-2 dropdown" v-if="cart.length > 0">
                <button class="btn btn-success btn-sm dropdown-toggle" id="dropdownCart" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span class="badge rounded-pill bg-success me-1">{{ cartQty }}</span>
                    <font-awesome-icon icon="shopping-cart"></font-awesome-icon>
                    <price :value="Number(cartTotal)"></price>
                </button>
                <div class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownCart">
                    <div v-for="(item, index) in cart" :key="index">
                        <div class="dropdown-item-text text-nowrap text-right">
                            <span class="badge rounded-pill bg-warning align-text-top me-1">
                                {{ item.qty }}
                            </span>
                            {{ item.product.name }}
                            <b>{{ item.product.price * item.qty | currencyFormat }}</b>
                            <a href="#" class="text-decoration-none badge bg-danger align-text-top text-white ms-1" @click.stop="$emit('delete-item', index)">-</a>
                        </div>
                    </div>
                    <router-link class="btn btn-outline-info ms-3" to="/checkout">Checkout</router-link>
                </div>
            </div>
        </div>
    </nav> -->

    <div class="card">
        <div class="card-header">
            <h3><font-awesome-icon icon="shopping-cart"></font-awesome-icon> Cart <span class="badge rounded-pill bg-secondary text-light me-1">{{ cartQty }}</span></h3>
        </div>
        <div class="card-body">
            <div v-if="cart.length > 0">
                <div class="row mt-3" v-for="(item, index) in cart" :key="index">
                    <div class="col-4">
                        <img :src="item.product.image" class="img-fluid">
                    </div>
                    <div class="col-8">
                        <div class="d-flex flex-column w-50">
                            <div class="h5">{{ item.product.name }}</div>
                            <div class="mb-1">{{ item.product.price | currencyFormat }}</div>
                            <div class="btn-group mt-1">
                                <button class="btn btn-primary" @click="$emit('delete-item', index)">-</button>
                                <button class="btn btn-outline-primary" style="pointer-events: none;">{{ item.qty }}</button>
                                <button class="btn btn-primary" @click="$emit('add-item', item.product)">+</button>
                            </div>
                        </div>
                    </div>
                </div>
                <hr>
                <div class="row h5">
                    <div class="col">Total</div>
                    <div class="col">
                        <strong><price :value="Number(cartTotal)"></price></strong>
                    </div>
                </div>
                <div class="row mt-4">
                    <div class="d-grid">
                        <router-link class="btn btn-outline-primary" to="/checkout">Checkout</router-link>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import {FontAwesomeIcon} from "@fortawesome/vue-fontawesome";
import Price from "./Price.vue";

export default {
    name: "navbar",
    components: {
        FontAwesomeIcon,
        Price
    },
    props: ["cart", "cartQty", "cartTotal"],
    filters: {
        currencyFormat: function (value) {
            return 'Rp ' + Number.parseFloat(value) * 1000;
        }
    }
}
</script>

