<template>
    <span class="ms-1">{{ this.prefix + Number.parseFloat(this.value) * 1000 }}</span>
</template>

<script>
export default {
    props: {
        value: Number,
        prefix: {
            type: String,
            default: 'Rp '
        }
    }
}
</script>