<template>
    <div class="card">
        <div class="card-header"><h3>Shop</h3></div>
        <div class="card-body">
            <div class="row">
                <div class="col-4 mb-4" v-for="(item, index) in products" :key="item.id" :data-index="index">
                    <div class="card h-100">
                        <img :src="item.image" class="card-img-top">
                        <div class="card-body">
                            <h5 class="card-title">{{ item.name }}</h5>
                            <p class="card-text"><price :value="Number(item.price)"></price></p>
                            <button class="btn btn-primary" @click="$emit('add-item', item)">Add to Cart</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import Price from "./Price.vue";

export default {
    name: "product-list",
    components:{
        Price
    },
    props: ["products"]
}
</script>