<template>
    <div>
        <nav class="navbar navbar-light" style="background-color: #e3f2fd;">
            <div class="container-fluid"><h1>IDShop</h1></div>
        </nav>
        <div class="container my-5">
            <div class="row">
                <div class="col-md-8"><product-list :products="products" @add-item="addItem"></product-list></div>
                <div class="col-md-4"><navbar :cart="cart" :cartQty="cartQty" :cartTotal="cartTotal" @add-item="addItem" @delete-item="deleteItem"></navbar></div>
            </div>
        </div>
    </div>
</template>

<script>
import Navbar from "./Navbar.vue";
import ProductList from "./ProductList.vue";

export default {
    name: "products",
    props: [
        "products",
        "cart",
        "cartQty",
        "cartTotal"
    ],
    components: {
        Navbar, ProductList
    },
    methods: {
        toggleSlider: function () {
            this.$emit('toggle');
        },
        addItem: function (item) {
            this.$emit('add', item);
        },
        deleteItem: function (index) {
            this.$emit('delete', index);
        }
    }
}
</script>