<template>
  <div>
    <!-- Top -->
    <nav class="navbar navbar-expand-lg navbar-light bg-info">
      <div class="container-fluid">
        <button class="btn border" type="button"  data-bs-toggle="offcanvas" data-bs-target="#sidebar" aria-controls="sidebar">
          <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand" href="#">Gizi Nusantara</a>
        <div class="offcanvas offcanvas-start" tabindex="-1" id="sidebar" aria-labelledby="sidebarLabel">
          <div class="offcanvas-header">
            <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
          </div>
          <div class="offcanvas-body">
            <ul class="navbar-nav me-auto mb-2">
              <li class="nav-item">
                <a class="nav-link" href="#">Home</a>
              </li>
              <li class="nav-item">
                <router-link to="/daftar" class="text-dark text-decoration-none">Daftar</router-link>
              </li>
            </ul>
          </div>
        </div>
        <router-link to="/daftar" class="text-dark"><font-awesome-icon icon="user-circle"></font-awesome-icon></router-link>
        
      </div>
    </nav>

    <!-- Bottom -->
    <nav class="p-3 fixed-bottom navbar-light bg-light">
      <div class="container-fluid">
        <div class="row text-danger align-items-center">
          <div class="col-3 text-center"><button class="btn btn-primary"><font-awesome-icon icon="home"></font-awesome-icon></button></div>
          <div class="col-3 text-center"><font-awesome-icon icon="chart-bar"></font-awesome-icon></div>
          <div class="col-3 text-center"><font-awesome-icon icon="bell"></font-awesome-icon></div>
          <div class="col-3 text-center"><font-awesome-icon icon="info-circle"></font-awesome-icon></div>
        </div>
      </div>
    </nav>

    <!-- Content -->
    <div class="container mt-3" style="padding-bottom: 100px;">
      <!-- Gizi -->
      <div class="card" style="border-radius: 1rem;border-color: #fff;">
        <div class="card-body">
          <h1>Gizi Nusantara</h1>
          <p>Daftar Ahli Gizi dan Kandungan Gizi Makanan Khas Seluruh Nusantara</p>
        </div>
      </div>

      <!-- Kategori -->
        <div class="row mt-3">
          <div class="col-12"><h5>Kategori</h5></div>
          <div class="col-12">
            <div class="row">
              <div class="col-3 px-2">
                <div class="card h-100" style="border-radius: 1rem;border-color: #fff;">
                  <div class="card-body px-1 py-0">
                    <div class="d-flex flex-column">
                      <button class="btn btn-info text-light py-2 py-md-4 py-lg-5" style="border-radius: .7rem; background: linear-gradient(180deg, rgba(13,202,240,1) 51%, rgba(0,111,134,1) 100%);"><font-awesome-icon icon="clipboard-list" style="font-size: 2rem;;"></font-awesome-icon></button>
                      <p class="text-center my-1 text-danger" style="font-size: 12px;"><strong>Healthy Recipes</strong> </p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-3 px-2">
                <div class="card h-100" style="border-radius: 1rem;border-color: #fff;">
                  <div class="card-body px-1 py-0">
                    <div class="d-flex flex-column">
                      <button class="btn btn-info text-light py-2 py-md-4 py-lg-5" style="border-radius: .7rem; background: linear-gradient(180deg, rgba(13,202,240,1) 51%, rgba(0,111,134,1) 100%);"><font-awesome-icon icon="running" style="font-size: 2rem;;"></font-awesome-icon></button>
                      <p class="text-center my-1 text-danger" style="font-size: 12px;"><strong>Video Exercise</strong> </p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-3 px-2">
                <div class="card h-100" style="border-radius: 1rem;border-color: #fff;">
                  <div class="card-body px-1 py-0">
                    <div class="d-flex flex-column">
                      <button class="btn btn-info text-light py-2 py-md-4 py-lg-5" style="border-radius: .7rem; background: linear-gradient(180deg, rgba(13,202,240,1) 51%, rgba(0,111,134,1) 100%);"><font-awesome-icon icon="comments" style="font-size: 2rem;;"></font-awesome-icon></button>
                      <p class="text-center my-1 text-danger" style="font-size: 12px;"><strong>Sharing Community</strong> </p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-3 px-2">
                <div class="card h-100" style="border-radius: 1rem;border-color: #fff;">
                  <div class="card-body px-1 py-0">
                    <div class="d-flex flex-column">
                      <button class="btn btn-info text-light py-2 py-md-4 py-lg-5" style="border-radius: .7rem; background: linear-gradient(180deg, rgba(13,202,240,1) 51%, rgba(0,111,134,1) 100%);"><font-awesome-icon icon="clipboard" style="font-size: 2rem;;"></font-awesome-icon></button>
                      <p class="text-center my-1 text-danger" style="font-size: 12px;"><strong>Jenis Diet</strong> </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

      <!-- Top Konsul -->
      <div class="row mt-3">
        <div class="col-12"><h5>Top Konsultan</h5></div>
        <div class="col-12">
          <div class="row">
            <div class="col-6">
              <div class="card" style="border-radius: 1rem;border: none; background-color: #ebfcff;">
                <div class="card-body">
                  <div class="row">
                    <div class="col-3" style="font-size: 1.7rem;"><font-awesome-icon icon="user-circle"></font-awesome-icon></div>
                    <div class="col-8 text-primary">Dr. Stella Kane</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-6">
              <div class="card" style="border-radius: 1rem;border: none; background-color: #ebfcff;">
                <div class="card-body">
                  <div class="row">
                    <div class="col-3" style="font-size: 1.7rem;"><font-awesome-icon icon="user-circle"></font-awesome-icon></div>
                    <div class="col-8 text-primary">Dr. Stella Kane</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Artikel -->
      <div class="row mt-3">
        <div class="col-12"><h5>Artikel Tips Diet</h5></div>
        <div class="col-12">
          <div class="row">
            <div class="col-6 px-2">
              <div class="card" style="border-radius: 1rem;border-color: #fff;">
                <img src="https://hplussport.com/wp-content/uploads/2015/12/h-horizontal-logo.png" class="card-img-top">
                <div class="card-body">
                  <h5 class="card-title">Tips Tubuh Ideal</h5>
                </div>
              </div>
            </div>
            <div class="col-6 px-2">
              <div class="card" style="border-radius: 1rem;border-color: #fff;">
                <img src="https://hplussport.com/wp-content/uploads/2015/12/h-horizontal-logo.png" class="card-img-top">
                <div class="card-body">
                  <h5 class="card-title">Tips Tubuh Ideal</h5>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import {FontAwesomeIcon} from "@fortawesome/vue-fontawesome";

export default {
  name: "home",
  components: {
    FontAwesomeIcon
  },
};
</script>
