<template>
  <div id="app">
   <router-view
      :cart="cart"
      :cartQty="cartQty"
      :cartTotal="cartTotal"
      :products="products"
      @add="addItem"
      @delete="deleteItem"></router-view>
  </div>
</template>

<script>

export default {
  name: "App",
  data: function () {
    return {
      products: [],
      cart: []
    }
  },
  mounted: function () {
    fetch('https://hplussport.com/api/products/order/price')
        .then(response => response.json())
        .then(data => {
            this.products = data;
        });
  },
  computed: {
    cartTotal: function() {
        let sum = 0;
        for (const key in this.cart) {
            sum = sum + (this.cart[key].product.price * this.cart[key].qty);
        }
        return sum;
    },
    cartQty: function() {
        let qty = 0;
        for (const key in this.cart) {
            qty = qty + this.cart[key].qty;
        }
        return qty;
    }
  },
  methods: {
    toggleSlider: function () {
      this.sliderStatus = !this.sliderStatus;
    },
    addItem: function (product) {
        let productIndex;
        let productExist = this.cart.filter(function(item, index) {
            if (item.product.id == Number(product.id)) {
                productIndex = index;
                return true;
            } else {
                return false;
            }
        });

        if (productExist.length) {
            this.cart[productIndex].qty++;
        } else {
            this.cart.push({product: product, qty: 1})
        }
    },
    deleteItem: function (key) {
        if (this.cart[key].qty > 1) {
            this.cart[key].qty--;
        } else {
            this.cart.splice(key, 1);
        }
    }
  }
};
</script>
